__pycache__/
datasets/*-old.yml
datasets/*-test.yml
datasets/templates/custom_postedited.yml
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.gz
doc/*.log
doc/*.out
doc/*.pdf
!doc/tree.pdf
doc/submitted-emnlp/*.zip

*.bat
*.en
*.lnk
*.txt
*.zh
nohup*
scratch.py
